*
!backend/
!backend/pyproject.toml
!backend/uv.lock
!backend/src/
!backend/src/**
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/index.html
!frontend/tsconfig*.json
!frontend/vite.config.ts
!frontend/src/
!frontend/src/**
!frontend/public/
!frontend/public/**
**/__pycache__
**/node_modules
**/.venv
**/dist
